body
{
    margin: unset;
    position: relative;
}

.mobilecontent
{
    width: auto;
    height: 100%;
    overflow: scroll;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.headeropera
{
    float: left;
    position: fixed;
    top:0%;
    z-index: 10000;
    width: calc(100% - 16px);
    line-height: 28px;
    color: #fff;
    font-size: 15px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background: rgb(255, 150,128);
}
.create
{
    float: left;
}
.orderby
{
    float: right;
}
.iycontent
{
    width: 70%;
    height: 250px;
    position: fixed;
    left: 15%;
    top: 20%;
    z-index: 1000;
    text-align: center;
    color: #000;
    font-size: 15px;
    background: #fff;
    border-radius: 4px;
    display: none;
}
.iycontent1
{
    width: calc(100% - 8px);
    padding: 4px;
}
.iytext
{
    font-weight: 500;
    line-height: 26px;
}
.iytext1
{
    display: inline-block;
    font-weight: bold;
    color: green;
    font-size: 14px;
    font-family: '微软雅黑';
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 128, 0, 1)), to(rgba(51, 51, 51, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.iybacgroundimg
{
    position: fixed;
    top: 30%;
    left: 24%;
    z-index: 1002;
    animation: myfirst 5s;
}
.iybacgroundtext
{
    position: fixed;
    top: 30%;
    left: 24%;
    width: 190px;
    height: 103px;
    background: #fff;
    animation: myfirst1 5s;
    border:1px solid rgb(98, 65, 24);
}
.iyimage1
{
    width: 190px;
    height: 103px;
    border:1px solid rgb(98, 65, 24);
}
.iytextcontent
{
    font-size: 12px;
    transform: rotateY(180deg);
    color: #000;
    padding: 4px;
}
.buttonposition
{
    width: 60% !important;
    margin-left: 20%;
    margin-top: 139px;
}
.single
{
    position: relative;
    max-width: 40%;
    padding: 2%;
    margin: 3%;
    background: linear-gradient(120deg, #a8edea 0%, #fed6e3 100%);
    display: inline-block;
    border-radius: 4px;
}
.usercontent
{
    width: 100%;
    padding-bottom: 75px;
}
.iyimgstyle
{
    width: 100%;
    position: relative;
    z-index: 101;
    border-radius: 9px;
}
.iycontentbmob
{
    width: 80%;
    height: 80%;
    padding: 4px;
    font-family: cursive;
    border: 1px solid;
    border-image: -webkit-linear-gradient( red, #ffb600) 30 30;
    border-image: -moz-linear-gradient( red, #ffb600) 30 30;
    border-image: linear-gradient( red, #ffb600) 30 30;
    font-size: 12px;
    position: absolute;
    text-align: center;
    top:6.5%;
    left: 6.5%;
    z-index: 100;
    transform: rotateY(-180deg);
    opacity: 0;
}
.animation
{
    animation: myfirst2 2s;
}
.animation1
{
    animation: myfirst4 2s;
}
.contentanimation
{
    animation: myfirst3 2s;
}
.contentanimation1
{
    animation: myfirst5 2s;
}
.index
{
    z-index: 99 !important;
    transform: rotateY(180deg);
    opacity: 0;
}
.index1
{
    z-index: 100 !important;
    transform: rotateY(0deg);
    opacity: 1;
}

.nickname
{
    position: fixed;
    bottom: 7%;
    right: 5%;
    width: 50%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.iyavatar
{
    width: 20px;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    left: 29%;
    border: 1px solid#f00;
}

@keyframes myfirst5
{
    100% {transform: rotateY(-180deg);opacity: 0}
    0% {transform: rotateY(0deg);opacity: 1}
}

@-moz-keyframes myfirst5 /* Firefox */
{
    100% {transform: rotateY(-180deg);opacity: 0}
    0% {transform: rotateY(0deg);opacity: 1}
}

@-webkit-keyframes myfirst5 /* Safari 和 Chrome */
{
    100% {transform: rotateY(-180deg);opacity: 0}
    0% {transform: rotateY(0deg);opacity: 1}
}

@-o-keyframes myfirst5 /* Opera */
{
    100% {transform: rotateY(-180deg);opacity: 0}
    0% {transform: rotateY(0deg);opacity: 1}
}

@keyframes myfirst4
{
    0% {transform: rotateY(180deg); opacity: 99;opacity: 0}
    100% {transform: rotateY(0deg); z-index: 101;opacity: 1}
}

@-moz-keyframes myfirst4 /* Firefox */
{
    0% {transform: rotateY(180deg); opacity: 99;opacity: 0}
    100% {transform: rotateY(0deg); z-index: 101;opacity: 1}
}

@-webkit-keyframes myfirst4 /* Safari 和 Chrome */
{
    0% {transform: rotateY(180deg); opacity: 99;opacity: 0}
    100% {transform: rotateY(0deg); z-index: 101;opacity: 1}
}

@-o-keyframes myfirst4 /* Opera */
{
    00% {transform: rotateY(180deg); opacity: 99;opacity: 0}
    100% {transform: rotateY(0deg); z-index: 101;opacity: 1}
}

@keyframes myfirst3
{
    0% {transform: rotateY(-180deg);opacity: 0}
    100% {transform: rotateY(0deg);opacity: 1}
}

@-moz-keyframes myfirst3 /* Firefox */
{
    0% {transform: rotateY(-180deg);opacity: 0}
    100% {transform: rotateY(0deg);opacity: 1}
}

@-webkit-keyframes myfirst3 /* Safari 和 Chrome */
{
    0% {transform: rotateY(-180deg);opacity: 0}
    100% {transform: rotateY(0deg);opacity: 1}
}

@-o-keyframes myfirst3 /* Opera */
{
    0% {transform: rotateY(-180deg);opacity: 0}
    100% {transform: rotateY(0deg);opacity: 1}
}

@keyframes myfirst2
{
    0% {transform: rotateY(0deg); z-index: 101;opacity: 1}
    100% {transform: rotateY(180deg); opacity: 99;opacity: 0}
}

@-moz-keyframes myfirst2 /* Firefox */
{
    0% {transform: rotateY(0deg); z-index: 101;opacity: 1}
    100% {transform: rotateY(180deg); opacity: 99;opacity: 0}
}

@-webkit-keyframes myfirst2 /* Safari 和 Chrome */
{
    0% {transform: rotateY(0deg); z-index: 101;opacity: 1}
    100% {transform: rotateY(180deg); opacity: 99;opacity: 0}
}

@-o-keyframes myfirst2 /* Opera */
{
    0% {transform: rotateY(0deg); z-index: 101;opacity: 1}
    100% {transform: rotateY(180deg); opacity: 99;opacity: 0}
}

@keyframes myfirst
{
0% {transform: rotateY(0deg);}
50% {transform: rotateY(180deg);}
100% {transform: rotateY(0deg);}
}

@-moz-keyframes myfirst /* Firefox */
{
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(180deg);}
    100% {transform: rotateY(0deg);}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(180deg);}
    100% {transform: rotateY(0deg);}
}

@-o-keyframes myfirst /* Opera */
{
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(180deg);}
    100% {transform: rotateY(0deg);}
}
@keyframes myfirst1
{
0% {z-index: 1001;transform: rotateY(0deg);}
50% {z-index: 1003;transform: rotateY(180deg);}
75% {z-index: 1001}
}

@-moz-keyframes myfirst1 /* Firefox */
{
    0% {z-index: 1001;transform: rotateY(0deg);}
    50% {z-index: 1003;transform: rotateY(180deg);}
    75% {z-index: 1001}
}

@-webkit-keyframes myfirst1 /* Safari 和 Chrome */
{
    0% {z-index: 1001;transform: rotateY(0deg);}
    50% {z-index: 1003;transform: rotateY(180deg);}
    75% {z-index: 1001}
}

@-o-keyframes myfirst1 /* Opera */
{
    0% {z-index: 1001;transform: rotateY(0deg);}
    50% {z-index: 1003;transform: rotateY(180deg);}
    75% {z-index: 1001}
}
