a
{
    text-decoration: none;
    color:#fff;
    cursor: unset;
    outline:none;
}
a:focus{outline:none;}
a:active{
    background: #f27979
}
a:visited
{
    color: #fff;outline:none;
}
.navmain
{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left:0;
    background:#f27979;
}
.item
{
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
}
.item1
{
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
    background: #2ca879;
}
.icon{
        width: 30px;
        height: 30px;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
        margin-top: 8px;
}
.name{
    margin-top: 2px;
    font-size: 10px;
    color: #fff;
}
