body {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.MobMain
{
    overflow: hidden;
    background: #469e8c;
}
.main
{
    width: 100%;
    height: 22%;
    background: rgb(32,36,46);
}
.nav
{
    width: 30%;
    height: 69%;
    text-align: center;
    margin-left: -36%;
    position: fixed;
    top: 22%;
    background: #669999;
    color:#fff;
    border-right: 1px solid #fff;
}
.ul
{
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 1px;
}
.shownav
{
    position: fixed;
    top: 5%;
    right: 10%;
    width: 40px;
    height: 40px;
    background: rgb(216, 183, 77);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    box-shadow: 0px 0px 10px #d9df36;
    z-index: 1000;
}
.avatar
{
    border-radius: 50%;
    width: 25%;
    border: 1px solid #ffcc66;
    box-shadow: 0px 0px 10px #ffcc66;
    margin-top: 20%;
    margin-bottom: 10%;
}
.nickname
{
    color: #fff;
    font-size: 12px;
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.avatarli
{
    border-radius: 50%;
    width: 40px;
    border: 1px solid #999966;
    box-shadow: 0px 0px 10px #999966;
    margin-top: 20%;
    margin-bottom: 10%;
}
.nicknameli
{
    color: #fff;
    font-size: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.overplay
{
    height: 100%;
    width: 40%;
    float: left;
    text-align: center;
}
.thisisxk
{
    float: right;
    height: 100%;
    width: 40%;
    text-align: right;
    padding-right: 5%;
}
.thisisxkimg
{
    width: 50%;
}
.welook
{
    position: absolute;
    bottom: 0%;
    left: 3%;
}
.daohang
{
    margin-top: 60%;
    font-size: 15px;
    line-height: 35px;
    border-bottom: 1px solid#fff;
}
.daohang1
{
    margin-top: 10%;
    font-size: 15px;
    line-height: 35px;
    border-bottom: 1px solid#fff;
}

.inputdanmu
{
    position: absolute;
    bottom: 3%;
    right: 5%;
    font-size: 12px !important;
}
.barrage
{
    z-index:999;
    max-width:50%;
    padding: 4px;
    position:fixed;
    bottom:8%;
    right:3%;
    font-size:12px !important
}
.helplover
{
    width: calc(100% - 2px);
    position: absolute;
    bottom: 20%;
    left: 0%;
    z-index: 1000;
    border:1px solid#fff;
    border-radius: 4px;
    box-shadow: 0px 5px 5px #000;
}
.changelife
{
    font-size: 12px;
    padding: 4px;
    font-weight: 600;
    color: #000;
    float: left;
}

.header-item
{
    display: none;
    padding: 8px 4px 8px 4px;
    float: right;
    width: calc(80% - 8px);
    position: fixed;
    left: 10%;
    border: 1px solid#fff;
    z-index: 1006;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 25px #11db95;
}
.whereis
{
    float: right;
    text-align: left;
    margin-left: 10px;
    line-height: 17px;
    font-size: 12px;
    color: #585252;
}
.jianjie
{
    float: left;
    border-top: 1px solid#ddd;
    margin-top: 10px;
}
.header-text
{
    float: left;
    width: 100%;
    text-align: center;
    color: #f30;
    margin-top: 10px;
    font-size: 12px;
}
.header-button
{
    display: none;
    position: fixed;
    left: 35%;
    z-index: 1006;
    bottom: 20%;
    background: #fff;
    color: #000;
    width: 30%;
}


/*菜单*/
.navmain
{
    width: 100%;
    float: left;
    background:#f27979;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 6%;
    position: absolute;
    z-index: 1000;
}
.item
{
    width: calc(25% - 14px);
    text-align: center;
    float: left;
    border:1px solid#fff;
    margin: 3px;
    background: #8b6060;
    padding: 3px;
}
.icon{
        width: 30px;
        height: 30px;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
        margin-top: 8px;
}
.name{
    margin-top: 2px;
    font-size: 10px;
    color: #fff;
}
.stars
{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}

@keyframes myfirst
{
0%  {right: 10%;}
50% {right: 0%;}
100% {right: 10%;}
}

@-moz-keyframes myfirst /* Firefox */
{
    0%  {;}
    100%  {;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0%  {;}
    100%  {;}
}

@-o-keyframes myfirst /* Opera */
{
    0%  {;}
    100%  {;}
}

.star {
      display: block;
　　　 width: 1px;
      background: transparent;
      position: relative;
      opacity: 0;
      /*过渡动画*/
      animation: star-fall 3s linear infinite;
      -webkit-animation: star-fall 3s linear infinite;
      -moz-animation: star-fall 3s linear infinite;
    }

    .star:after {
      content: '';
      display: block;
      border: 0px solid #fff;
      border-width: 0px 90px 2px 90px;
      border-color: transparent transparent transparent rgba(255, 255, 255, .5);
      box-shadow: 0 0 1px 0 rgba(255, 255, 255, .1);
      /*变形*/
      transform: rotate(-45deg) translate3d(1px, 3px, 0);
      -webkit-transform: rotate(-45deg) translate3d(1px, 3px, 0);
      -moz-transform: rotate(-45deg) translate3d(1px, 3px, 0);
      transform-origin: 0% 100%;
      -webkit-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
    }

    @keyframes star-fall {
      0% {
        opacity: 0;
        transform: scale(0.5) translate3d(0, 0, 0);
        -webkit-transform: scale(0.5) translate3d(0, 0, 0);
        -moz-transform: scale(0.5) translate3d(0, 0, 0);
      }
      50% {
        opacity: 1;
        transform: translate3d(-200px, 200px, 0);
        -webkit-transform: translate3d(-200px, 200px, 0);
        -moz-transform: translate3d(-200px, 200px, 0);
      }
      100% {
        opacity: 0;
        transform: scale(1.2) translate3d(-300px, 300px, 0);
        -webkit-transform: scale(1.2) translate3d(-300px, 300px, 0);
        -moz-transform: scale(1.2) translate3d(-300px, 300px, 0);
      }
    }
