
.MobMain
{
    padding: 4px 8px 4px 8px;
    background: #865b4d;
    height: 100%;
}
.item
{
    width: 50%;
    padding: 4px 0px 4px 0px;
    margin: 10% 2% 0 0;
    border: 2px solid#853232;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.itemimg
{
    width: 80%;
}
.itemtext
{
    margin: 10px 0px 0px 0px;
    border-top: 1px solid#fff;
    padding: 4px 0px 4px 0px;
}
